<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Project-01</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <!-- start jumbotron-->
    <div id="hero-page" class="jumbotron page">
      <div class="container">
        <h1>Snippets</h1><br />
        <!-- start input-group -->
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <input id="repo-login" type="text" class="form-control" placeholder="Enter your Repo ID!">
            <span class="input-group-btn">
              <button id="login-btn" class="btn btn-default" type="button">Go To Repo</button>
            </span>
          </div>
        </div>
        <br /><br /><br />
        <div id="new-repo-lnk">
        <h4><a href="#">Dont have a Repo?</a></h4>
        </div>
        <div class="col-sm-6 col-sm-offset-3 hidden">
          <div class="input-group">
            <input id="repo-create" name="name" type="text" class="form-control" placeholder="Name your new repo!">
            <span class="input-group-btn">
              <button id="new-repo-btn" class="btn btn-default" type="button">Create New Repo!</button>
            </span>
          </div>
        </div>

        <!-- /input-group -->


      </div>
    </div>
    <!-- end jumbotron -->

    <!--     START REPO PAGE      -->
    <div id="repo-page" class="hidden page">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a id="repo-name" class="navbar-brand" href="#"><h1>Snippet Repo</h1></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a id="id-name">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Snippet Options<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a id="edit-repo-name" href="#">Edit Repo Name</a></li>
                  <li><a href="#">Logout</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Delete Repo</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      <div class="container">
        <div id="snippet-target" class="row">

          <!-- one snippet -->
          <script id="snippet-template" type="text/x-handlebars-template">
          <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="#" class="btn btn-default btn-xs pull-left" role="button"><i class="glyphicon glyphicon-edit"></i></a>

              <h3 class="panel-title">{{title}}</h3>
            </div>
            <div class="panel-body">
              <pre class="pre-scrollable"><code>{{code}}</code></pre>
              <p>
                {{desc}}
              </p>
            </div>

            </div>
          </div>
        </script>

        </div><!-- end row / snippet target -->

      </div> <!-- end container -->

    </div>




        <!-- <div class ="col-sm-4 col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Repo Title</h3>
            </div>
            <div class="panel-body">

              <div class="input-group">
                <code>
                  <textarea class="form-control custom-control" rows="13" style="resize:none"></textarea>
                </code>
              </div>
          </div>
        </div> -->




        <!-- Small modal -->

        <div id="rn-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                Edit Repo
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Rename Repo</label>
                <div class="col-md-4">
                  <input id="repoInput" name="name" type="text" placeholder="Edit Repo Name" class="form-control input-md" required="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="saveRepo">Save changes</button>
                </div>
              </div>

            </div>
          </div>
        </div>


        <!-- begin songModal: this is not visible until you call .modal() on it -->
        <div class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Song</h4>
              </div>
              <div class="modal-body">
          <!-- START FORM -->
                <form id="create-song">

                <fieldset class='form-horizontal'>
                  <!-- Text input-->

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="trackNumber">Track Number</label>
                    <div class="col-md-4">
                      <input id="trackNumber" name="trackNumber" type="text" placeholder="" class="form-control input-md">
                    </div>
                  </div>
                </fieldset>
                </form>
          <!-- END FORM -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveSong">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

  </body>

</html>
