<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Project-01</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <!-- start jumbotron-->
    <div class="jumbotron hidden">
      <div class="container">
        <h1>Snippets</h1><br />

        <!-- input-group -->
          <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Login with repo id...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Login</button>
            </span>
          </div>
          <!-- /input-group -->

        </div>
        <br />
      </div>
    </div>
    <!-- end jumbotron -->

    <header class="header">
      <h1>Your Snippet Repo</h1>
      <nav>
        <button>link 1</button>
        <button>link 2</button>
        <button>link 3</button>
      </nav>
    </header>

      <div class="container">
        stuf
      </div>




  </body>

</html>
