<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Project-01</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Snippets</h1><br />
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>


    <!-- <header class="header">
      <H1> you are here!</H1>
      <nav>
        <button>link 1</button>
        <button>link 2</button>
        <button>link 3</button>
      </nav>

    </header> -->
  </body>

</html>
