/*   CSS STYLES   */

/*              /-------COLOR PALETTE-------\
#130404 #333333 #9D9D9D #F9F9F9 #555566 #444444 #998877 #CC6611
*/

/*****************GLOBAL*****************/
  a{
    color: #F9F9F9;
  }
  a:hover{
    color: #F9F9F9;
  }
  h3{
    text-align: center;
  }
  body{
    background-color: #333333;
  }
  .hidden{
    visibility: hidden;
    display: none;
  }

/***************HERO PAGE***************/
  .jumbotron{
    text-shadow: 1px 1px 2px #130404;
    color: #F9F9F9;
    padding: 0px 0px;
    background-color: #130404;
    background-image: url(/images/code-bg.jpg);
    background-position: center;
    margin: auto;
    padding-top: 180px;
    text-align: center;
    height: 100vh;
  }
  .hero-input{
    padding: 15px;
  }

/***************REPO PAGE***************/

  /**********REPO NAV**********/
    a#repo-name{
      font-size: 25px;
    }
    .navbar-collapse{
      padding-left: 15px;
      max-width: auto;
    }
    .snippets-main{
      margin-top: 75px;
    }
    #header-nav{
      padding-top: 0px;
    }

    #repo-name{
      color: #cc6611;
    }

  /****SNIPPETS PANELS****/
    .snp-update{
      background-color: #F9F9F9;
      color: #CC6611;
    }
    .snp-update:hover{
      border-color: #515151;
      background-color: #CC6611;
      color: #F9F9F9;
    }
    pre{
      max-height: 200px;
      background-color: #515151;
    }
    pre code {
      height: auto;
      overflow-x: auto;
      white-space: pre;
      text-align: left;
    }
    .hljs{
      background: initial;
      display: initial;
      overflow-x: initial;
    }

/*************MODAL WINDOWS*************/
  .modal-title{
    color: #CC6611;
  }
  .modal-header{
    color: #CC6611;
  }
  .modal-content{
    background-color: #444444;
    color: #F9F9F9;
  }
  div.rename-repo{
    padding-bottom: 15px;
    padding-top: 15px;
  }
  textarea{
    font-family: monospace;
    wrap: off;
  }
